/* Content lines colors */
$color-first-line: #ff3a1f;
$color-second-line: #ff675f;
$color-third-line: #b2b3b4;
$color-fourth-line: #acadcc;
$color-fifth-line: #873299;

$grid-phone-small: 320px;
$grid-phone: 480px;
$grid-phone-large: 575px;
$grid-tablet: 767px;
$grid-desktop: 991px;
$grid-desktop-large: 1199px;